*{
  text-decoration: none;
  color: currentColor;
}

:root{

  --background-color: #27374D;
  --backgroud-color-secondary: #526D82;
  --backgroud-color-terceary: #9DB2BF;
  --backgroud-color-quaternary:#DDE6ED;
  --font-color: white;
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-a{

  padding: 0px 20px 0px 20px;

}

.App-body{

  min-height: 100vh;
  background-color: var(--backgroud-color-quaternary);
  justify-content: center;
  justify-items: center;
  display: flex;
}

.App-footer{

  clear: both;
  position: relative;
  height: 74px;
  background-color: var(--background-color);
  justify-items: center;
  justify-content: center;
  display: flex;

}


.App-header {
  background-color: var(--background-color);
  padding: 20px 20px 20px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: var(--font-color);
}

.App-link {
  color: #61dafb;
}

