*{
  text-decoration: none;
  color: currentColor;
}

:root{

  --background-color: black;
  --font-color: white;
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-a{

  padding: 0px 20px 0px 20px;

}


.App-header {
  background-color: var(--background-color);
  padding: 20px 20px 20px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: var(--font-color);
}

.App-link {
  color: #61dafb;
}

